<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Note Pad By Kraivit Mongkhonsakunrit</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
</head>

<body>
    <script type="text/javascript"  src="../lib/ipcrenderer.js"></script>
    <textarea id="codeing" name="codeing" placeholder="Notepad by Kraivit"></textarea>
</body>

</html>